:root {
    // Colors
    --bg: hsl(240, 11%, 96%);
    --card-bg: white;
    --text1: hsl(240, 3%, 12%);
    --text2: hsl(240, 2%, 44%);
    --gradient: linear-gradient(
        270deg in oklab,
        oklch(61% 0.21 258) 0%,
        oklch(59% 0.27 303) 50%,
        oklch(72% 0.28 332) 100%
    );
    // Typography
    --font-family: "Nunito", sans-serif;
    --font-size: 20px;
    --title-size: 2.4rem;
    --line-height: 1.6;
    // container
    --max-width: 1600px;
    --max-width-small: 1100px;
}
